body {
    padding: 40px;
    font-family: "Times New Roman", Times, serif;
    background-color:black;
}

.container {
    max-width: 450px;
    margin: auto;
    padding: 30px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-family: "Times New Roman", Times, serif;
}

.subject-list label {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    color: #555;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
}

.total-box {
    background: red;
    padding: 15px;
    font-size: 18px;
    margin: 15px 0;
    text-align: center;
    border-radius: 8px;
    color: white;
    font-family: "Times New Roman", Times, serif;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
}

button:hover {
    background-color: #218838;
}
